{{range .Posts}}
<div class="post mb-5">
    <h4 class="fw-bold">{{.Title}}</h4>
    {{if .SubTitle}}
    <h4 class="text-muted">{{.SubTitle}}</h4>
    {{end}}
    <div class="content mt-3">
        {{.Summary | safeHTML}}
    </div>
</div>
{{end}}

<div id="has-prev" style="display: none;">{{.HasPrev}}</div>
<div id="has-next" style="display: none;">{{.HasNext}}</div>
<div id="prev-offset" style="display: none;">{{.PrevOffset}}</div>
<div id="next-offset" style="display: none;">{{.NextOffset}}</div>
